<div class="row">
    <div class="col"></div>

    <div class="col">
        <table class="mt-5 table table-borderless">
            <tbody>
                <tr>
                    <td><button id="1" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="2" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="3" type="button" class="btn btn-primary">-</button></td>
                </tr>
                <tr>
                    <td><button id="4" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="5" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="6" type="button" class="btn btn-primary">-</button></td>
                </tr>
                <tr>
                    <td><button id="7" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="8" type="button" class="btn btn-primary">-</button></td>
                    <td><button id="9" type="button" class="btn btn-primary">-</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col"></div>
</div>

<script>

</script>